<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Grinnell Baseball</h1>

  <h2>
    This page is meant to serve as a fall planning resource for virtual practice. Included in each page is a description of excercises in which we aim to be able to perform.
    Read the descriptions on each page for more information. When you sign up, you are displayed a sample daily workout.
  </h2>

  <%= link_to "Add Player", '#sign_up', class: "btn btn-lg btn-primary" %>
</div>
<h3> Featured Player </h3>
<p> <%= @featured_player %></p>
<h3> Featured Highlight Video made by Tim Hollibaugh</h3>
<iframe width="560" height="315" src="<%= @tube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
