<% provide(:title, "New User") %>
<div class="center jumbotron jumbotron-fluid">
  <h1>Welcome to Grinnell Baseball</h1>

  <h2>
    You will be able to create an account here.
  </h2>

  <%= link_to "Add Player", '#hitting', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign In", '#hitting', class: "btn btn-lg btn-primary" %>
</div>
