<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/gc_baseball/pitching">Pitching</a></li>
        <li><a href="/gc_baseball/hitting">Hitting</a></li>
        <li><a href="/gc_baseball/strength">Strength</a></li>
        <li><a href="">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>