<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Pitching</a></li>
        <li><a href="#">Hitting</a></li>
        <li><a href="#">Strength</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>